/* made by Jesse */


/*font is from the apple*/
@font-face{
    font-family:'SF';
    src:url('font/SF.eot');/* IE9 Compat Modes */
    src:url('font/SF.eot?#iefix')format('embedded-opentype'),/* IE6,7 and IE8 */
    url('font/SF.woff')format('woff'),/*Normal*/
    url('font/SF.ttf')format('truetype'),/* Safari, mobile */
    url('font/SF.svg#SF')format('svg');/*ios*/
}

/* normal body */
html, body {
    margin: 0;
    background-color: #efefef;
    font-family:  "SF";
}

.background {
    position:fixed;   
    width: auto;
    height: 100%;
    padding: 100%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

/* the place login */
#loginground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}

/* the name input and message */
#nickground {
    display: none;
}

/* the side bar */
.sidebar{
    position:fixed;
    left:0px;
    top:0px;
    width: 5.69rem;
    height: 100%;
    background: rgba(72,72,72,0.59);
    border-radius: 30px;
    border-radius: 30px;
}

/* side bar first icon */
.sideicon{
    position:fixed;
    top: 1.25rem;
    left: 0.4rem;
}

/* side bar first icon image */
.sideicon img{
    width:4.88rem;
    height:4.88rem;
}

/* side bar first chat icon */
.sidechat{
    position:fixed;   
    top: 8.75rem;
    left: 0.27rem;
    width:4.88rem;
    height:4.88rem;
    background: rgba(0,0,0,0.18);
    border: 1px solid rgba(0,0,0,0.81);
    border-radius: 16px;
    font-family:  "SF";
    font-size: 60px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

/* side bar nod icon, is a letter */
.sidechat p{
    position:fixed;   
    top: 5.25rem;
    left: 0.39rem;
}

/* the more icon on the side bar */
.sidemore{
    position:fixed;   
    top: 11.75rem;
    left: 0.3rem;
    width:4.88rem;
    height:4.88rem;
    font-family:  "SF";
    font-size: 60px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

/* the introduction on the left */
/* after will change to group chat and personal chat */
.listintro{
    background: rgba(181,181,181,0.68);
    position:fixed;   
    top: 0rem;
    left: 5.6rem;
    width:21rem;
    height:30rem;
    border-radius: 30px;
}

/* the inro title */
.listintro til{
    position:fixed;   
    top: 2rem;
    left: 10rem;
    font-family:  "SF";
    font-size: 40px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

/* the middile part */
.listintro p{
    position:fixed;   
    top: 5rem;
    left: 9.5rem;
    font-family:  "SF";
    font-size: 25px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

/* the line separate left and right */
.boundary{
    position:fixed;   
    top: 0rem;
    left: 26.31rem;
    height: 64rem;
    width: 0.03rem;
    border: 3px solid #00000071;
    background: #00000071;
}

/* the right top name */
/* after will change to alto */
.banner {
    position: fixed;
    top: 0;
    left: 26.67rem;
    right: 0;
    height: 3.75rem;
    width: auto;
    background: rgba(216, 216, 216, 0.575);
    border-radius: 18px;
    border-radius: 18px;
    font-family:  "SF";
    font-size: 39px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

/* banner's people show */
.banner span {
    position: fixed;
    top: 2rem;
    left: 67rem;
    font-family:  "SF";
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

/* the history message display */
#hisMsg {
    position:fixed;   
    top: 3.75rem;
    left: 26.71rem;
    right: 0;
    bottom: 20.73rem;
    height: auto;
    width: auto;
    background: rgba(255,255,255,0.02);
    padding: 20px 0;
    overflow: auto;
}

/* the system message */
#hisMsg p1 {
    text-align: center;
    padding-left: 45%;
}

/* if someone send message */
#hisMsg img {
    max-width: 20%;
}

/* the round conner on the bottom */
.column {
    position: fixed;
    left: 26.71rem;
    right: 0;
    bottom: 0;
    height: 21.63rem;
    width: auto;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 55px;
    border-radius: 55px;
}

/* message type input place */
#messageInput {
    -webkit-appearance:none;
    -moz-appearance: none;
    position: fixed;
    top: 31rem;
    left: 26.67rem;
    right: 0rem;
    bottom: 0;
    height: auto;
    width: auto;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.603);
    border-radius: 3px;
    outline:0;
}

/*
#messageInput {
    position: fixed;
    top: 28.5rem;
    left: 28.70rem;
    right: 0;
    bottom: 0;
    height: auto;
    width: 50.89rem;
    border: 1px solid #ccc; 
    padding: 7px 0px;
    border-radius: 3px; 
    padding-left:5px; 
}
*/

.timespan {
    color: #ddd;
}

.items {
    height: 30px;
}
.items button {
    -webkit-appearance: none;
    font-family:  "SF";
    font-size: 35px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    height: 2.44rem;
    width: 2.44rem;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    border-radius: 8px;
}

/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}

/*end custom file input*/


#sendBtn {
    -webkit-appearance: none;
    width: 50px;
    height: 96px;
    float: right;
}
#emojiground {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiground img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiground img:hover {
    background-color: rgb(183, 0, 255);
}
emoji{
    -webkit-appearance: none;
    position: fixed;
    top: 25rem;
    left: 34.59rem;
    height: 2.44rem;
    width: 2.44rem;
    display: inline;
    font-family:  "SF";
    font-size: 35px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    border-radius: 8px;
}
.emobtn{
    -webkit-appearance: none;
    position: fixed;
    bottom: 18.8rem;
    left: 30rem;
    font-family:  "SF";
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    height: 2.44rem;
    width: 2.44rem;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    border-radius: 8px;
}

.colbtn{
    -webkit-appearance: none;
    position: fixed;
    bottom: 18.8rem;
    left: 39rem;
    font-family:  "SF";
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    height: 2.44rem;
    width: 2.44rem;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    border-radius: 8px;
}

.colorStyle{
    -webkit-appearance: none;
    position: fixed;
    bottom: 18.8rem;
    left: 41.59rem;
    font-family:  "SF";
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    height: 2.44rem;
    width: 2.44rem;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    border-radius: 8px;
}

.colbtn colorStyle{
    -webkit-appearance: none;
    position: fixed;
    bottom: 18.8rem;
    left: 41.59rem;
    font-family:  "SF";
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    height: 2.44rem;
    width: 2.44rem;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    border-radius: 8px;
}
.imabtn{
    -webkit-appearance: none;
    position: fixed;
    bottom: 18.8rem;
    left: 36rem;
    font-family:  "SF";
    font-size: 19px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    height: 2.44rem;
    width: 2.50rem;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    border-radius: 8px;
}

#nametag{
    position: fixed;
    top: 0;
    left: 90px;
    height:74px;
    width: 330px;
    background: rgba(216,216,216,0.80);
    border-radius: 25px;
}
.imabtn button{
    -webkit-appearance: none;
    position: fixed;
    bottom: 18.8rem;
    left: 38.59rem;
    font-family:  "SF";
    font-size: 19px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    height: 2.44rem;
    width: 2.50rem;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
    border-radius: 8px;
}

.clebtn{
    -webkit-appearance: none;
    position: fixed;
    bottom: 18.8rem;
    left: 33rem;
    font-family:  "SF";
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    height: 2.44rem;
    width: 2.44rem;
    background: rgba(228,228,228,0.60);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.15);
    border-radius: 8px;
}

textarea {
  -webkit-writing-mode: horizontal-tb !important;
  position: fixed;
  right: 0px;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
}

footer {
    text-align: center;
}


#gradient-rotate {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  #trianglify-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  #color-stop-1 {
    -webkit-animation: change-color-1 12s ease-in-out infinite alternate;
    animation: change-color-1 12s ease-in-out infinite alternate
  }

  #color-stop-2 {
    -webkit-animation: change-color-2 12s ease-in-out infinite alternate;
    animation: change-color-2 12s ease-in-out infinite alternate
  }

  #color-stop-3 {
    -webkit-animation: change-color-3 12s ease-in-out infinite alternate;
    animation: change-color-3 12s ease-in-out infinite alternate
  }
  @keyframes change-color-1 {
    0% {
      stop-color: #22C8F6
    }

    25% {
      stop-color: #ff0
    }

    50% {
      stop-color: #00ffcb
    }

    75% {
      stop-color: #70ff00
    }
  }
  @keyframes change-color-2 {
    0% {
      stop-color: #20C498
    }

    25% {
      stop-color: #ff00ad
    }

    350% {
      stop-color: #d480ff
    }

    75% {
      stop-color: #ff9200
    }
  }
  @keyframes change-color-3 {
    0% {
      stop-color: #189932
    }

    25% {
      stop-color: #c300cb
    }

    50% {
      stop-color: #5600d4
    }

    75% {
      stop-color: #ff46dc
    }
  }