@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .banner {
        position: fixed;
        top: 0;
        left: 24.7999rem;
        right: 0;
        height: 3.75rem;
        width: auto;
        background: rgba(216, 216, 216, 0.575);
        border-radius: 18px;
        border-radius: 18px;
        font-family: SF;
        font-size: 39px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
    }
    
    .banner span {
        position: fixed;
        top: 2rem;
        left: 55rem;
        font-family: SF;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
    }
 
}